body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: IBM Plex Sans;
}
button{
    outline: none;
    border: none;
}
.mobileCat{display: none;}
.mobileCreatePostBtn{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 110%;
    margin-left: 80%;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    background: linear-gradient(180deg, #FF5C5C 0%, #F0568A 100%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18), 0px 0px 2px rgba(0, 0, 0, 0.08);
}
.background{
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    opacity: 0.5;
    display: none;
}
.modalPopup{
    display: none;
    flex-direction: column;
    position: fixed;
    margin-top: 100px;
    margin-left: 350px;
    background-color: #fff;
    z-index:1;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    height: 513px;
    width: 736px;
}
.modalClose{
    position: absolute;
    height: 28px;
    width: 28px;
    margin-top: -28px;
    margin-left: auto;
    cursor: pointer;
    margin-left: 725px;
    opacity: 0.7;
 
}
.modalMsg{
    width:100%;
    background: #EFFFF4;
    color:#008A45;
    height: 50px;
    border-radius: 8px 8px 0px 0px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.modalHead{
    width:100%;
    display: flex;
    margin-top: 24px;
    height: 50px;
}
.modalHead h5{
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}
.modalHead h6{
    font-size: 13px;
    font-weight: lighter;
    margin-left: auto;
}
.modalHead span{
    color:#2F6CE5;
}
.modalFormContainer{
    display: flex;
}
.modalForm{
    width:50%;
    margin-left: 36px;
}
table{
    border-collapse:collapse;
}
.modalForm input{
    width: 320px;
    height: 46px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #8A8A8A;
    height: 45px;
    margin-top: -2px;
    border-radius: unset;
    outline: none;
    border: 1px solid #D9D9DB;
    padding-left: 12px;
    box-sizing: border-box;
}
.modalForm button{
    font-size: 14px;
    font-family: IBM Plex Sans;
    width: 320px;
    height: 40px;
}
.socialBtn{
    border: 0.6px solid #D9D9DB;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialBtn img{
    margin-right:10px;
}
.modalImg{
    width:50%;
}
.modalImg h6{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    text-align: right;
    margin-right: 35px;
}
.modalImg span{
    color:#2F6CE5;
}
.mobileImg{
    display: none;
}
.modalTC{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    text-align: right;
    letter-spacing: -0.008em;
    color: #000000;
    opacity: 0.6;
    margin-right: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    padding-left: 20px;
}
.logo{
    width: 162.57px;
    height: 24px;
}
.searchBar{
    width: 360px;
    height: 42px;
}
.searchBar i{
    color: #857c7c;
    margin-top:14px;
    margin-left:15px;
    position: absolute;
}
.searchBar input{
    width: 85%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #F2F2F2;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #857c7c;
    padding-left:50px;
}
.accountCreate{
    width: 250px;
    height: 21px;
    margin-right: 25px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: right;
    color: #2E2E2E;
}
.accountCreate span{
    color:#2F6CE5;
    font-weight: 600;
}
.accountCreate i{
    margin-top: 2px;
    margin-left: 3px;
}

.background1{
    width: 100vw;
    height: 440px;
    left: 0px;
}
.background1 img{
    width: 100vw;
    height: inherit;
}
.background2{
    position: absolute;
    top: 72px;
    width: 100vw;
    height: 440px;
    background-color: black;
    opacity: 0.5;
}
.main{
    width: 100%;
    display: flex;
    justify-content: center;
}
.content{
    width: 1040px;
    display: flex;
    flex-direction: column;
}
.sliderCat{
    width: 100%;
    height: 36px;
    margin-top: 47px;
    margin-bottom: 28px;
}
.sliderCat ul{
    list-style-type: none;
    padding: 0px;
    font-size: 16px;
    line-height: 21px;
    color: #8A8A8A;
    margin: 0px;
    float: left;
    margin-top: 7.5px;
}
.sliderCat ul li{
    display: inline-block;
    margin-right: 20px;  
    cursor: pointer;
}
.active{
    color:black;
}
.contentBtn{
    align-self: flex-end;
    float: right;
}
.writePost{
    width:133px;
    height: 36px;
    background: #EDEEF0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    font-family: ibm plex sans;
    cursor: pointer;
}
.writePost i{
    margin-left: 16.4px;
}
.joinGroup{
    width: 125px;
    height: 36px;
    background: #2F6CE5;
    border-radius: 4px;
    color:white;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    font-family: ibm plex sans;
    margin-left:16px ;
    cursor: pointer;
}
.leaveGroup{
    width: 124px;
    height: 36px;
    background: #FFFFFF;
    border: 0.8px solid #989899;
    border-radius: 4px;
    color:#6A6A6B;
    font-weight: 500;
    font-size: 15px;
    font-family: ibm plex sans;
    margin-left:16px ;
    display: none;
    cursor: pointer;
}
.leaveGroup img{
    margin-right: 6px;
    height: 15px;
    margin-bottom: -2px;
}
.joinGroup img{
    margin-right: 6px;
}
.contentItems{
    display: flex;
    width: 100%;
}
.contentFeed{
    width:66.5%;
    display: flex;
    flex-direction: column;
}
.article{
    width: 692px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    margin-bottom: 16px;
    cursor: pointer;
}
.location{
    display: flex;
    width:33.5%;
}
.articleImg{
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}
.emoji{
    margin-left: 20px;
    margin-top: 20px;
}
.articleTitle{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.articleTitleData{
    width:85%;
}
.articleTitleData h3{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    margin: 0px;
}
.articleTitleMenu{
    width:10%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.articleTitleMenu:hover button{
    text-align: center;
    height: 32px;
    width:36px;
    background-color: #BFC0C0;
    border-radius: 4px;
}
.articleTitleMenu button{
    background-color: white;
    text-align: center;
    height: 32px;
    width:36px;
}
.articleInfo{
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 20px;
}
.articleInfo font{
    margin:0px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #5C5C5C;
}
.articleDetails{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.articleUserImg{
    display: flex;
    align-items: center;
}
.articleUserName{
    margin-left: 10px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.articleViews{
    color: #525252;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-self: flex-end;
    margin-left:auto;
}
.articleViews i{
    margin-right: 8.5px;
}
.articleShare{
    display: flex;
    align-items: center;
    justify-self: flex-end;
    margin-left: 40px;
}
.articleShare button{
    color: #2D2D2D;
    background: #EDEEF0;
    border-radius: 2px;  
    height: 36px;
    width: 42px;
  
}
.meetupData{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 12px;
}
.meetupData span{
    margin-right: 48px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
}
.meetupData span i{
    margin-right: 6.5px;
}
.meetupBtn{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 16px;
}
.meetupBtn button{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 140.4%;
    text-align: center;
    color: #E56135;
    width: 100%;
    background: #FFFFFF;
    border: 0.7px solid #A9AEB8;
    box-sizing: border-box;
    border-radius: 8px;
    height: 38px;
}
.location{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.locationData{ 
    margin-top: 40px;
    margin-right: 10px;
}
.locationDataOutline{
    width: 100%;
    border: 0.1px solid #B8B8B8;
    margin-top: 10px;
}
.locationData input{
    border: none;
    outline: none;
    font-size: 14px;
    margin-left: 11px;
    margin-right: 20px;   
}
.locationDataMsg{
    width:70%;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    opacity: 0.5;
    display: flex;
    padding-right: 5px;
    margin-top: 30px;
}
.locationDataMsg i{
    margin-right: 10px;
}
.groups{
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 50px;
}
.groups a{
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #2F6CE5;
    margin-right: 15px;
    margin-top: 30px;
}
.groupsTitle{
    width: 83%;
    text-align: center;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}
.groupNames{
    display: flex;
    align-items: center;
    margin-right: 15px;
    height: 60px;
}
.groupNames button{
    width: 60px;
    height: 24px;
    background: #EDEEF0;
    border-radius: 14px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    margin-left: 90px;
}
.groupNames img{
    margin-right: 12px;
}



@media only screen and (max-width:1085px) {
    .background1{height: 340px;}
    .background2{height: 340px;}
    .background1 img{height: 340px;}
    .background2 img{height: 340px;}
    .content{width: 700px;}
    .location{display: none;}


}
@media only screen and (max-width: 800px) {
    .searchBar{display: none;}
    .background1{height: 240px;}
    .background2{height: 240px;}
    .background1 img{height: 240px;}
    .background2 img{height: 240px;}
    .contentBtn{display: none;}
    .content{width: 400px;
        margin-top: 25px;}
    .sliderCat{display: none;}
    .article{ width: 350px;}
    .articleImg{width: 350px;}
    .articleImg img{ width: 350px;}
    .articleTitleData h3{ font-size: 16px;}
    .articleInfo font{font-size: 14px;}
    .articleUserName{font-size: 13px;}
    .articleViews{font-size: 12px;}
    .mobileCat{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 350px;
        margin-bottom: 10px;
    }
    .postCount{
        justify-self: flex-start;
        font-weight: bold;
        font-size: 14px;
    }
    .dropDown select{
        border:none;
        width: 106px;
        height: 32px;
        background: #F1F3F5;
        border-radius: 4px;
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
    }
    .mobileCreatePostBtn{
        display: flex;
        margin-top: 57%;
        margin-left: 80%;
    }
    
}
@media only screen and (max-width:600px) {
    .background1{height: 150px;}
    .background2{height: 150px;}
    .background1 img{height: 150px;}
    .background2 img{height: 150px;}
    .mobileCat{ margin-left: 0px;}
    .mobileCreatePostBtn{
        display: flex;
        margin-top: 80%;
        margin-left: 80%;
    }
}
@media only screen and (max-width: 400px) {
    .logo{display: none;}
    .accountCreate{display: none;}
    nav{height: 24px;}
    .mobileImg{display: block;}
    .mobileImg img{ margin-left: 300px;}
    .background1{height: 180px;}
    .background2{height: 180px; margin-top: -48px;}
    .background1 img{height: 180px;}
    .background2 img{display:none;}
    .mobileCat{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 350px;
        margin-left: 25px;
    }
    .article{ width: 100vw;}
    .articleImg{width: 100vw;}
    .articleImg img{ width: 100vw;}
    .content{margin-top: 50px;}
    .mobileCreatePostBtn{
        display: flex;
        margin-top: 110%;
        margin-left: 80%;
    }

}